*.deb
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
Makefile
Testing/
_CPack_Packages/
bin/
build/
cmake_install.cmake
debian/postinst
debian/prerm
debian/control
version/version.h
install_manifest.txt
debian/files
debian/joinx*/
debian/*.log
debian/*.substvars
